<div class="checkbox">
    <label>
        <input type="checkbox" class="checkbox" name="newsletter_mailchimp" style="
            min-height: 22px;
            padding-left: 20px;
            margin-bottom: 0;
            font-weight: normal;
            cursor: pointer;
            position: absolute; margin-left: -20px;" value="y" checked/>
        {{ "Sign up for our Newsletter"|trans }}
    </label>
</div>