<div class="categories-item">
    <div class="categories-block is-last" tree="0">
        <span class="categories-name">
            {{ 'No categories found'|trans }}
        </span>
    </div>
</div>
