{% if displayInstantMessagingLinks is defined and displayInstantMessagingLinks == 'on' and instantMessengerDataArray is defined%}
    <div class="im-integration footer-info line-break"></div>
    {% for instantMessengerData in instantMessengerDataArray -%}
        <div class="im-integration footer-info">
            <div class="icon icon-md instant-messenger-icon" imtype="{{instantMessengerData.type}}">{{instantMessengerData.iconSvgRawContent|raw}}</div>
            <a target="_blank" href="{{instantMessengerData.hRef}}">{{instantMessengerData.value}}</a>
        </div>
    {% endfor -%}
{% endif %}
