<a href="{{instantMessengerFloatingButtonData.hRef}}" target="_blank" class="instant-messenger-button" imtype="{{instantMessengerFloatingButtonData.type}}" data-position="{{instantMessengerFloatingButtonData.position}}">
    {{instantMessengerFloatingButtonData.iconSvgRawContent|raw}}
</a>
