<div class="form-group row custom-content-row">
    <div class="col-sm-12">
        <label for="plugin_telegram_nickname">{{"Telegram"|trans}}</label>
        <input type="text" name="plugin[instant_messenger_integration][telegram][nickname]" value="{{ telegramData.nickname }}" placeholder="{{"Insert telegram nickname"|trans}}" class="form-control{{(highlight == 'additional' and not telegramData.nickname)?' highlight':''}}" id="plugin_telegram_nickname" />
    </div>
</div>
