<h3>{{"Instant Messenger Integration Options"|trans}}</h3>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <h4 class="subtitle">{{"Display links"|trans}}</h4>
            <label for="plugin_display_instant_messening_links">
                <input type="checkbox" id="plugin_display_instant_messening_links"
                       name="plugin[instant_messenger_integration][display_instant_messaging_links]"
                       value="on" {{ displayInstantMessagingLinks == "on" ? "checked" : "" }}> {{"Display available instant messenger clickable links on the widget."|trans}}
            </label>
        </div>
    </div>
</div>
