{% for instantMessengerData in instantMessengerDataArray -%}
<div class="summary-phone summary-instant-messenger-link">
    <div class="icon icon-md instant-messenger-icon" imtype="{{instantMessengerData.type}}">{{instantMessengerData.iconSvgRawContent|raw}}</div>
    <a target="_blank" href="{{instantMessengerData.hRef}}">{{instantMessengerData.value}}</a>
</div>
{% endfor -%}
