<div class="cards-default browse-map" data-bg="base" has-gap>
    <div class="container">
        <div class="cards-header">
            <h2 class="heading h-4">{{ "Browse by Map"|trans }}</h2>
        </div>
        <div id="browsebymap" style="height: 400px"></div>
    </div>
</div>