<div class="col-xs-4" id="tour-leads">
    <label for="leads_max">{{ "Total Allowed Leads"|trans }}</label>
    <input type="number" class="form-control" id="leads_max" name="leads_max" min="0" value="{{ leads_max }}">
</div>