<a href="/{{ getParameter('alias_sitemgr_module') ~ "/content/forum" }}"
   class="submenu-link {{ getParameter('alias_sitemgr_module') ~ "/content/forum" in app.request.requestUri ? 'is-active' : '' }}">
    {{ "Forum"|trans }}
</a>
